{% extends 'base.html' %}

{% load static %}

{% block header %}
<div class="row container-fluid HeaderRow">
HTML
</div>

<hr>
{% endblock %}

{% block content %}

<div class="row container-fluid">
    <p>HTML stands for Hyper Text Markup Language.
        <br><br>
        HTML is the structure of the web.
        Every website is made up of HTML pages, 
        which is made up of elements and attributes 
        that can be manipulated and changed to the developers design.
    </p>
</div>

<div class="row container-fluid">
    <p>Basic Structure of the HTML Page:</p>
    <br>
    <img src="../../media/Every HTML document has to start with this declaration so that the browser knows that it is an HTML doc..png"
    width="500" height="500">
</div>

{% endblock %}