/* -- ALL OF SITE -- */

body {
    font-family: 'Press Start 2P', cursive;
}

hr {
    width: 75%;
    height: 3px;
    background-color: black;
}

a {
    color: black;
}
a:hover{
    color: black;
}

.HeaderRow {
    justify-content: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
}

/* -- base.html -- */
.base-header {
    margin: auto;
    justify-content: center;
}

.base-span {
    margin-top: 65px;
    margin-left: 10px;
}


/* -- index.html -- */
.AnchorRow {
    justify-content: center;
}

.TutorialImg {
    margin-bottom: 25px;
}

.Git {
  font-size: 30px;
}

.IndexFooter {
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

/* -- htmlpage.html -- */
.htmlImg {
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}
/*-- For medium or smaller screens --*/
@media only screen and (max-width: 768px) {
.htmlImg {
    width: 300px;
    height: 225px;
    margin: auto;
    display: block;
}
}

/* -- csspage.html -- */
.boxImg {
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    .boxImg {
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;
    }
}

#f4816f - salmon

khaki - #fbe55b

#f7a74a - orange 