{% extends 'base.html' %}

{% load static %}
{% block image %}<a href="{% url 'home' %}"><img src="../media/Chloe.png" width="200" heigh="200"></a>{% endblock %}
{% block header %}
<div class="row container-fluid HeaderRow">
    JAVASCRIPT
</div>
<hr>
{% endblock %}

{% block content %}
<p>
    Javascript (JS) is one of the most popular languages on the web.
    It is an object orientated language that makes your website interactive.
    To start writing JS you don't have to download anything, you simply need a browser and a script.js file.
    Similar to CSS, JS is written in an external file and linked to the pages in a script tag, however,
    the script tags are placed at the bottom of the page just before the closing body tag.
</p>
<div class="row container-fluid AnchorRow">
    <a href="{% url 'jsbasics' %}">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/Javascript Basics.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/string_methods.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/math_methods.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/arrays.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
</div>
<br>

<div class="row container-fluid AnchorRow">
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/loops.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/events.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/functions.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/conditional_statements.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
</div>
<br>

<div class="row container-fluid AnchorRow">
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/events.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/examples.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/objects.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
    <a href="#">
        <div class="col-md-3 col-sm-12">
            <img src="../../media/scope_and_hoisting.png" width="150" height="150" class="TutorialImg">
        </div>
    </a>
</div>
<br>
{% endblock %}